# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\志懿\Desktop\mybatisplus\kuangstudy-openclass-master\openclass\【遇见狂神说】MyBatisPlus视频笔记\mybatisplus\mybatis_plus\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
